<ul class="list-group">
    <li class="list-group-item">
        <a href="/personal/info">
            <div>个人中心</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/hospital">
            <div>科室管理</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/hospital">
            <div>医生管理</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/hospital">
            <div>患者管理</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/hospital">
            <div>权限管理</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/work">
            <div>上班管理</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/data">
            <div>数据分析</div>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/personal/comment">
            <div>留言管理</div>
        </a>
    </li>
</ul>