<div id="app">
    <ul class="list-group">
        <li class="list-group-item">账户:{{user.account}}</li>
        <li class="list-group-item">用户名:{{user.name}}</li>
        <li class="list-group-item">性别:{{user.sex}}</li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script>
    var vue=new Vue({
        el: "#app",
        data: {
            name: "",
            user:null
        },
        mounted: function () {
            this.findDoctors();
        },
        methods: {
            findDoctors: function () {
                axios.get("/api/v1/info", {
                    params: {
                        name: this.name
                    }
                })
                    .then(res => {
                        console.log(res.data)
                        this.user = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            }
        }
    });
</script>