<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Doctors List</title>

<link
	href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.bootcdn.net/ajax/libs/Chart.js/2.9.3/Chart.min.css"
	rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-light bg-light justify-content-between">
		<a class="navbar-brand">预约挂号系统</a>
		<form class="form-inline">
			<div class="dropdown">
				<button class="btn btn-light dropdown-toggle" type="button"
					id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">lw</button>
				<div class="dropdown-menu  dropdown-menu-right"
					aria-labelledby="dropdownMenu2">
					<button class="dropdown-item" type="button">Action</button>
					<button class="dropdown-item" type="button">Another action</button>
					<button class="dropdown-item" type="button">Something else
						here</button>
				</div>
			</div>
		</form>
	</nav>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-1 offset-11">
				<select id="sel">
					<option value="1">一星期内</option>
					<option value="2">一个月内</option>
					<option value="3">三个月内</option>
					<option value="4">六个月内</option>
				</select>
			</div>
		</div>
		<canvas id="myChart" height="160" width="400"></canvas>
	</div>

	<script
		src="https://cdn.bootcdn.net/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
	<script
		src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script>
	
	
	$(document).ready(function(){
		
		$("#sel").change(function(){
			getData($("#sel").val());
		});
		getData(1);
		
	});
	
	function getData(id) {
		$.ajax({
	    	type: "GET",
	        url: "https://localhost:8080/api/v1/appointments",
	            data: {
	            	doctorId:[[${doctorid}]],
	            	departmentId:[[${departmentid}]],
	            	code:id,
	                graphData:null,
	            },
	            dataType: "json",
	            success: function(data) {
	            	//alert(data);
	            	var ctx = document.getElementById('myChart').getContext('2d');
	        		var chart = new Chart(ctx, {
	        			type : 'line',
	        			
	        			data : {
	        				labels : data.labels,
	        				datasets : [ {
	        					lineTension : 0,
	        					label : data.label,
	        					//backgroundColor : 'rgb(255, 99, 132)',
	        					borderColor : 'rgb(255, 99, 132)',
	        					data : data.data
	        				} ]
	        			},
	        			options : {}
	        		});
	            }
	        });
	}
	</script>
</body>

</html>