<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Doctors List</title>

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .mt-50{margin-top:200px;}
        .mt-10{margin-top:100px;}
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">预约挂号系统</a>
        <form class="form-inline">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    lw
                </button>
                <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </form>
    </nav>
    <div class="container">
        <h1 align=center>医生信息</h1>
        <hr>
        <table class="table table-hover">
            <thead>
            	<tr>
            	<th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>科室</th>
                <th>简介</th>
                </tr>
            </thead>
            <tbody>
				<tr th:each="doctor : ${doctors}" onClick="turnTo(this)">
					<td th:text="${doctor.id}"></td>
					<td th:text="${doctor.name}"></td>
					<td th:text="${doctor.sex}"></td>
					<td th:text="${doctor.department.name}"></td>
					<td th:text="${doctor.introduction}"></td>
				</tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/Chart.js/3.0.0-alpha/Chart.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
		function turnTo(obj) {
			window.location.href = "https://localhost:8080/appointmentinfo/result?departmentid=-1&doctorid=" + $(obj).children("td:eq(0)").html();
		}
    </script>
</body>

</html>